<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/users/profile">NodeAuth</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/users/profile">Member</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="container">
</div>
<!-- Styles -->
<style>
    #chartdiv {
        width		: 60%;
        height		: 500px;
        font-size	: 11px;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
    //var data1=[];
    const url = 'http://localhost:3000/users/computation_tags';
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data1) {
            console.log(data1);
            var chart = AmCharts.makeChart("chartdiv", {
                "type": "serial",
                "theme": "light",
                "dataProvider": data1,
                "gridAboveGraphs": true,
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "[[category]]: <b>[[value]]</b>",
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "count"
                }],
                "chartCursor": {
                    "categoryBalloonEnabled": false,
                    "cursorAlpha": 0,
                    "zoomable": false
                },
                "categoryField": "tags",
                "categoryAxis": {
                    "gridPosition": "start",
                    "gridAlpha": 0,
                    "tickPosition": "start",
                    "tickLength": 10
                },
                "export": {
                    "enabled": true
                }

            });
        });
</script>

<!-- HTML -->
<h1>Tags Clicked by the current User</h1>
<div id="chartdiv"></div>
<div class="container-fluid">
    <div class="row">

        <div class="col col-md-6 col-md-offset-5">
            <button onclick="location.href = 'http://localhost:3000/users/visualize';" id="Overall" class="float-left submit-button" style="height:50px;width:100px">Overall</button>
            <button onclick="location.href = 'http://localhost:3000/users/visual_qns';" id="Questions" class="float-left submit-button" style="height:50px;width:100px">Question</button>
            <button onclick="location.href = 'http://localhost:3000/users/visual_upvotes';" id="UpVotes" class="float-left submit-button" style="height:50px;width:100px">UpVotes</button>
            <button onclick="location.href = 'http://localhost:3000/users/visual_tags';" id="Tags" class="float-left submit-button" style="height:50px;width:100px">Tags</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <h2>Analysis of the Results</h2>
            <ul>
                <li>
                    This results show the tags clicked by the current user.
                </li>
                <li>
                    We could find a pattern of this users tag searches, and based on that we could make a user profile for this user on how interested he's in this topic.
                </li>
                <li>
                    We could build a content based model for this user based on the tags he visits more.
                </li>
                <li>
                    Based on the content based model, we could recommend new tags which are related to the current tags. For eg: a user who searches for jsp would search for jquery.
                </li>
                <li>
                    Once we see a pattern, we could use this for recommendation to other users with similar profiles based on collaborative filtering.
                </li>
            </ul>
        </div>
    </div>

</div>