extend layout
block content
 h2.page-header Visualize
 p Please choose one of the activity
  form(method='get', action='/users/visualize')
  input.btn.btn-primary(type='submit', name='submit',value='Visualize', )
